@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a; /* slate-900 */
    --foreground: #f8fafc;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
